/*
Tuscan: rgba(247, 219, 167, 1);
Tumbleweed: rgba(241, 171, 134, 1);
Deer: rgba(197, 123, 87, 1);
Charleston green: rgba(30, 45, 47, 1);
Dark green: rgba(4, 31, 30, 1);

Fonts
font-family: 'Exo', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Raleway', sans-serif;
font-family: 'Varela Round', sans-serif;
*/



body {
    margin: 0;
    background-color: rgba(74, 111, 165, 1);
    
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    width: 100%;
    height: 100%;
}

.navbar {
    background:#166088;
    margin: 0;

    width: 100%;
    height: 75px;

    text-align: center;
}

.navbar > h1 {
    margin-top: 22px;
    color: #DBE9EE;
}
h2 {
    font-size: 18px;
    text-align: center;
}

.main-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    width: 350px;
    border-radius: 10px;
    background: #DBE9EE;
    overflow: hidden;
    box-shadow: 0px 0px 25px 7px rgba(0,0,0,0.5);
    margin-left: auto;
    margin-right: auto;
}

.question {
    margin-top: 35px;
}

.control {

    text-align: center;
    background: #26A3F5;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;
}

.control:hover {
    background: #0083DB;
}



.first-state {
    height: 200px;;
}

.second-state {
    height: 400px;
}